.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.AppHeader {
  background-color: #282c34;
  min-height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  position: fixed;
  top: 0;
}

.mainBody {
  display: flex;
  width: 70%;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
}

.firstRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.secondRow {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}