.container {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  height: 200px;
  font-size: 1.2rem;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.18);
  border-radius: 0.5rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.nameInput {
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.2rem);
}

